name: run tests

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: get code
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: build docker image
      run: docker compose build

    - name: install dependencies
      run: docker compose run --rm node npm install

    - name: run tests
      run: docker compose run --rm node npm test