name: run tests

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: get code
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: build docker image
      run: docker compose -f docker-compose.ci.yml build

    - name: run tests with coverage
      run: docker compose -f docker-compose.ci.yml run --rm node npm run test:coverage -- --coverage --coverageReporters=lcov
      continue-on-error: true
    
    - name: upload coverage to coveralls
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./coverage/lcov.info